!!!
html
  head
    title= title
    link(rel='stylesheet', href='http://ajax.googleapis.com/ajax/libs/dojo/1.7.2/dijit/themes/tundra/tundra.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/dojo/1.7.2/dojo/dojo.js', djConfig='parseOnLoad: true')
  body(class='tundra')!= body