!!!
html
  head
    title JSON-RPC
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://ajax.googleapis.com/ajax/libs/dojo/1.7.2/dojo/dojo.js', djConfig='parseOnLoad: false')
  body(class='tundra')!= body